{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Visitor Information{% else %}{{ _('Welcome to Güd Analyzer') }}{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Visitor Information</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
                    <li><a href="{{ url_for('/dashboard/') }}">{{ _('Dashboard') }}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a class="navbar-btn" href="{{ url_for('main.login') }}">{{ _('Login') }}</a></li>
                    {% else %}
                    <li><a class="navbar-btn" href="{{ url_for('main.logout') }}">{{ _('Logout') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {% block load_content %}{% endblock %}
    <div class="container" id="hide_content">
    <div class="container">

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script>

    </script>

    <script type="text/javascript">// <![CDATA[

// ]]></script>
{% endblock %}